* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(226, 225, 225);
}

main {
  /* width: 50%;
  margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 20em;
}
.full-content{
  display: flex;
  width: 100%;
}
.first-content{
  background-color: hsl(31, 77%, 52%);
  padding: 2em;
}
.second-content{
  background-color: hsl(184, 100%, 22%);
  padding: 2em;
}
.third-content{
  background-color: hsl(179, 100%, 13%);
  padding: 2em;
}
.button{
  padding:1em;
  border-radius: 10px;
  border: none;
  border-width: 20%;
  font-size: 12px;
}
